/*.card {
    text-align: center;
}*/

div.ccard {
    display: flex;
    justify-content: center;
}

div.ccard img {
    display: block;
    max-width:130px;
    max-height:310px;
    width: auto;
    height: auto;
    border-radius: 7%;
}

div.ccard-small img {
    display: block;
    max-width:65px;
    max-height:155px;
    width: auto;
    height: auto;
    border-radius: 7%;
}


.playable-true {
    cursor: pointer;
}

.playable-false {
    opacity: 0.4;
}

div.important-card img {
    border: purple solid 2px;
}

div.very-important-card img {
    border: red solid 2px;
}
