/*.card {
    text-align: center;
}*/

div.ccard {
    display: flex;
    justify-content: center;
}

div.ccard img {
    display: block;
    max-width:130px;
    max-height:310px;
    width: auto;
    height: auto;
}


.playable-true {

}

.playable-false {
    opacity: 0.4;
}

div.important-card {
    border: purple solid 2px;
}

div.very-important-card {
    border: red solid 2px;
}
